<footer class="footer">
    <div class="footer__left">
        <h3>@Elevate Events</h3>
        <a href="/about">ABOUT</a>
        <a href="/contact">CONTACT</a>
    </div>   

    <div class="footer__right">
        <i class="fa fa-twitter"></i>
        <i class="fa fa-facebook"></i>
    </div>
</footer>
</html>