<%- include('./partials/header.ejs')%>

   
    <main>

        <h3>Welcome to Elevate Events!</h3>
        <p>We are a brand that specializes in creating unique and memorable experiences through expertly curated and executed events. 
            From corporate gatherings to personal celebrations, 
            we strive to exceed expectations and leave a lasting impression on all attendees. 
            Our services include event planning, design, execution and coordination of all aspects of the event. 
            Trust us to elevate your next event to new heights.</p>
        <p>Look at our events section to see what events we are hosting or check out our new event section to request a new event.</p>

    </main>
</body>


    
<%- include('./partials/footer.ejs')%>